.figures {
  margin: 0;
  padding: 0;
  display: inline-block;

  li {
    overflow: hidden;
    display: inline-block;
    width: 16em;
    height: 12em;
    margin-right: 1em;
    margin-bottom: 1em;

    img {
      display: block;
      height: 100%;
      margin: 0 auto;
    }
  }
}
